html {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.row {
  display: flex;
}

.button {
  border: 1px solid black;
}

.square {
  width: 80px;
  height: 80px;
}

.horizontal-rectangle {
  width: 168px;
  height: 80px;
}

.vertical-rectangle {
  width: 80px;
  height: 168px;
}

#calculator {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  background-color: lightblue;

}

#display {
  height: 80px;
  width: 344px;
  border: 1px solid black;
}

#numpad {
  display: flex;
}

#main-numpad {
  display: flex;
  flex-direction: column;
}

#side-numpad {
  display: flex;
  flex-direction: column;
}

/* Add even gaps between all buttons */
#calculator, #numpad, #side-numpad, #main-numpad, .row {
  gap: 8px;
}