html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.row {
  display: flex;
}

.button {
  border: 1px solid black;
}

.square {
  width: 80px;
  height: 80px;
}

.horizontal-rectangle {
  width: 165px;
  height: 80px;
}

.vertical-rectangle {
  width: 80px;
  height: 165px;
}

#calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#display {
  height: 80px;
  width: 335px;
  border: 1px solid black;
}

#numpad {
  display: flex;
}

#main-numpad {
  display: flex;
  flex-direction: column;
}

#side-numpad {
  display: flex;
  flex-direction: column;
}

/* Add even gaps between all buttons */
#calculator, #numpad, #side-numpad, #main-numpad, .row {
  gap: 5px;
}