:root {
  --base-color: #3E3E3E;
  --border-color: #CFDEEB;
  --selected-border-color: #62a4dd;
  --text-color: white;
  --main-key-color: #6D7F96;
  --secondary-key-color: #445268; 
  --accent-key-color: #C86460;
}

html {
  font-family: "DM Mono", monospace;
  font-size: 32px;
  color: var(--text-color);
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.row {
  display: flex;
}

.button {
  font-size: 28px;
  border: 2px solid var(--border-color);
  border-radius: 16px;
  text-align: center;
  padding-top: 8px;
  user-select: none;
  cursor: pointer;
}

.button:hover {
  filter: brightness(85%);
}

.square {
  width: 80px;
  height: 80px;
}

.horizontal-rectangle {
  width: 168px;
  height: 80px;
}

.vertical-rectangle {
  width: 80px;
  height: 168px;
}

.main-key {
  background-color: var(--main-key-color);
}

.secondary-key {
  background-color: var(--secondary-key-color);
}

.accent-key {
  background-color: var(--accent-key-color);
}

.selected {
  border-color: var(--selected-border-color);
  border-width: 3px;
}

#calculator {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  background-color: var(--base-color);
  border-radius: 16px;
}

#display {
  height: 80px;
  width: 344px;
  border: 2px solid var(--border-color);
  border-radius: 8px;
  padding: 16px 0 0 4px;
}

#numpad {
  display: flex;
}

#main-numpad {
  display: flex;
  flex-direction: column;
}

#side-numpad {
  display: flex;
  flex-direction: column;
}

/* Add even gaps between all buttons */
#calculator, #numpad, #side-numpad, #main-numpad, .row {
  gap: 8px;
}